

.cards {
    padding: 20px;
    list-style: none;
    margin: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
}

.cards li {
    background-color: #D4E3FF;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.card1 {
   grid-column: 1;
   grid-row: 1;
}

.card2 {
   grid-column: 2 / 4;
   grid-row: 1 / 3;
}

p {
  color:#2C313D;
font-family: 'Domine', serif;
font-size: 125%;
text-align:left;

}


h1{
  order: 2;
  font-size: 300%;
  font-family: 'Maven Pro', sans-serif;
  display: block;
  margin:0;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align:center;
}



img {
  border: none;
  float: right;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}

body{
  border-style:none;
  display: block;
  margin:auto;
  background-color:#7D8CAD;

}

nav ul li {
  display: block;
  border-top:1px #79896d solid;
}

nav a {
  color: #f8ecc2;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #65a8a6;
  margin: 0;
  padding: 0 10px;
}


nav ul {
  display: none;

}

@media screen and (min-width: 700px) {

  nav ul {
    display: flex;
  }

.menu-trigger{
  display: none;
}

}


nav li{
  font-size: 125%;
  list-style-type:none;
  margin:0;
  padding:60;
  text-align: center;
}
nav a:link, nav a:visited {
  display:block;
  color:#ffffff;
  background-color:#2C313D;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  padding:10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:70px;
  padding-right:70px;
  font-family:Helvetica, Arial, sans-serif;

}
nav a:hover, nav a:active{
  background-color:#000000;


}

  #footer{
    color:black;
    font-family:Georgia, "Times New Roman", serif;
    font-size:0.8em;
    padding:6px;
    padding-top: 10px;
    border-top:10px solid black;
  }


  @media (min-width: 600px) {
  	nav {
  		flex-direction: column;
  		justify-content: center;
  	}
  }

  @media (min-width: 800px) {

  	nav {
      flex-direction:row;
  		margin-right: auto;
      flex-wrap: wrap;
  	}
  }
  img {
    display: block;
    width: 30%;
    float: right;
  }

  @media screen and (min-width: 800px) {
  .item1 {
    margin-right: auto;
  }

  @media (min-width: 1000px) {
  nav {
    display: flex;
    flex direction:row
  }
  }
