
p {
  color:#666666;
font-family: 'Rochester', cursive;
font-size: 125%;
text-align:center;

}

h1{
    font-size: 300%;
  font-family: Georgia, "Times New Roman", serif;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  display: block;
  margin:0;
  text-align:center;
}

body{
  border-style:none;
  display: block;
  margin:auto;
  background-color:#ebe3ce;

}
#container{
    width:95%;
  background-color:#ffffff;
margin:0 auto;
}
#nav li{
  font-size: 125%;
  list-style-type:none;
  margin:0;
  padding:0;
}
#nav a:link, #nav a:visited{
  display:block;
  color:#ffffff;
  background-color:#006400;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:Helvetica, Arial, sans-serif;

}
#nav a:hover, #nav a:active{
  background-color:#228b22;
}


#nav{
  padding:0;
}

}
  #footer{
    color:black;
    font-family:Georgia, "Times New Roman", serif;
    font-size:0.8em;
    border-top:1px solid black;
    /*border:1px 0px 0px;
    border-style:dotted;
    border-color:black;*/
  }

img{
  border-style:none;
  display: block;
  margin:auto;
}
